.home-container {
  margin-top: 0;
  padding: 0;
}

.carousel-bg {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.2rem;
}


.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100% !important; 
}


.project-card:hover {
  transform: translateY(-5px);
}

.project-img {
  width: 100% !important;
  height: 250px !important;
  object-fit: cover !important;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-size: 20px !important;
  flex-grow: 1;
  
}


.project-title {
  font-size: 30px !important;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.project-summary {
  font-size: 20px !important;
  color: #666;
  flex-grow: 1; 
}


.btn-wrapper {
  text-align: center;
  margin-top: 1.5rem;
}


.project-btn {
  display: inline-block;
  background-color: #11AEAE;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.project-btn:hover {
  background-color: #0d8c8c;
}
